.global-alert {
    background-color: #fff;
    color: #111;
    border-top: 4px solid #c00;
    border-bottom: 4px solid #c00;
    display: none;

    @include print {
        border: 4px solid #c00;
    }

    .fa-exclamation-triangle {
        font-size: 2.5em;
        color: #b00;
    }

    &::before,
    &::after {
        display: none;
    }
    &::before {
        border: 17px solid transparent;
        border-top-color: #fff;
    }
    &::after {
        border: 23px solid transparent;
        border-top-color: #c00;
    }
    
    .close-alert {
        &::before, &::after {
            width: 2px;
            background-color: #999;
        }

        &:active::before,
        &:active::after {
            background-color: #333;
        }
    }
}