.home {
    .homepage-title {
        font-weight: 700;
        font-size: 2.75rem;
        line-height: 1.2;
        padding: 0 1.5rem;
        
        @include screen(desktop) {        
            font-size: 3.25rem;
            line-height: 1.5;
            padding: 0;
        }
        text-align: center;
        display: block;
        margin-bottom: 3rem;
        width: 100%;
    }

    .homepage-stats {
        @include screen(desktop) {
            display: flex;
            padding: 3.5rem 0;
            margin: 0 0 4rem 0;
        }
        padding: 0 3rem;
        margin: 0 0 2rem 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        border-top: 1px solid #111;
        border-bottom: 1px solid #111;
    
        li {
            padding: 1.5rem;
            @include screen(desktop) {
                padding: 0;
                width: 33.33333333%;
            }
        
            &:not(:last-child) {
                border-bottom: 1px solid #111;
                
                @include screen(desktop) {
                    border-bottom-style: none;
                    border-right: 1px solid #111;
                }
            }
            
            h3 {
                font-size: 3.25rem;
                line-height: 1;
                margin-bottom: 1.5rem;
                
                 @include print {
                     font-size:2rem;
                 }
            }
            p {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.3;
                margin: 0;
            }
            @include print {
                display:inline-block;
                width:32.33%;
                page-break-inside: avoid;
            }
        }
    }
    
    .your-region {
        @include screen(desktop) {
            display: flex;
            flex-grow: 1;
            margin: 0 -1.5rem 3rem -1.5rem;
        }
        margin: 0 0 3rem 0;
        list-style-type: none;
        width: 100%;
        padding: 0;
        
        > li {
            margin: 1.5rem;

            @include screen(desktop) {
                width: 33.33333333%;
                margin: 0 1.5rem;
            }
            @include print {
                page-break-inside: avoid;
            }
        }
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include screen(desktop) {
                padding: 0 2rem;
            }

            h3 {
                font-size: 3.25rem;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.5rem;
                font-weight: 300;
                text-align: center;
                width:100%;
            }
            .button {
                color: inherit;
                font-size: 1rem;
                text-decoration: none;
                border: 1px solid #666;
                border-radius: 5px;
                line-height: 1;
                padding: 0.65rem 1.5rem;
                font-weight: 600;
                transition: all 0.15s ease;
                background-color: transparent;
            
                &:hover {
                    background-color: #666;
                    color: #fff;
                }
            }
        }
        
        .map {
            align-items: center;
            display: flex;
            position: relative;
            
            img {
                margin: 0 auto;
            }
            
            .svg-map {
                width: 100%;
            }
            
            .mapsvg-region {
                cursor: pointer;
                fill: #666;
                
                &:hover {
                    fill: #999;
                }
            
                &.active {
                    cursor: pointer;
                    fill: #999;
                }

                &-disable {
                    user-select: none;
                    pointer-events: none;
                    cursor: default;
                    fill: #e0e1e5;
                }
            }
            
            .mapsvg svg {
                user-select: none;
                width: 100%;
                height: auto;
                position: relative;
                transition: transform .40s;
                transform-origin: 0 0;
            }
            
            .tooltip {
                position:absolute;
                top: 6.5rem;
                left: 1.5rem; 
                line-height: 1;
                background-color: #eee;
                border: 1px solid #ccc;
                z-index: 500;
                padding: 0.5rem;
                display: none;
            }
            @include print {
                display: none;
            }
        }


        .regions {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .regions-list {
                margin: 0;
                list-style-type: none;
                font-size: 1.1rem;
            
                > li {
    
                    &::before {
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 300;
                        font-size: 1.35rem;
                        content: '\f3c5';
                        margin-right: 1rem;
                    }
                    
                    a {
                        font-weight: 400;
                        text-decoration: none;
                        color: inherit;
                    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

            
    .home-tiles {
        @include screen(desktop) {
            display: flex;
            flex-grow: 1;
            margin: 0 -1.5rem 3rem -1.5rem;
        }
        margin: 0 0 3rem 0;
        list-style-type: none;
        width: 100%;
        padding: 0;
        color: #fff;

        > li {
            margin: 1.5rem;
            @include screen(desktop) {
                width: 33.33333333%;
            }

            .tile-content {
                padding: 3rem;
                text-align: center;
            
                h3 {
                    font-size: 3rem;
                    font-weight: 300;
                    margin-bottom: 1.5rem;
                    line-height: 1;
                    
                    @include print {
                        font-size:2rem; 
                        display:block;
                        width:100%;
                    }
                }
                p {
                    margin-bottom: 2rem;
                }
                .button {
                    color: #fff;
                    font-size: 1rem;
                    text-decoration: none;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    padding: 0.65rem 1.5rem;
                    font-weight: 600;
                    transition: all 0.15s ease;
                    background-color: transparent;
                    line-height: 1;

                    &:hover {
                        background-color: #fff;
                        color: #333;
                    }
                    @include print {
                        padding:1rem; 
                        display:block;
                        width:100%;
                    }
                }
                @include print {
                    padding:1rem; 
                }
            }

            .tile-image {
                overflow: hidden;
                height: 175px;
                
                @include screen(tablet) {
                    height: 250px;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    background-color: #bbb;
                    background-size: cover;
                    
                    @include print {
                        display: none;
                    }
                }
                @include print {
                    height:0px; 
                }
            }
            
            @include print {
                width: 25%;
                display:inline-block;
            }
        }
        
        > li:nth-child(1) {
            background-color: #999;
        }
        > li:nth-child(2) {
            background-color: #666;
        }
        > li:nth-child(3) {
            background-color: #333;
        }
    }
}